@import "bootstrap/scss/bootstrap-grid";

.row + .row {
  margin-top: 16px;
}

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

// .footer,
// .footer > [class] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

svg {
  align-self: stretch;
  stroke-width: 1px;
}

:root {
  --beige: #f4ebd4;
  --brown: #786757;
  --white: #ffffff;
  --black: #000;
}

body {
  font-family: "Urbanist", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 17px;
  background-color: var(--beige);
  padding: 27px 44px 27px 28px;
  .second {
    display: flex;
    padding-bottom: 11px;
    align-items: flex-end;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .domaine {
      font-size: 14px;
      font-weight: 600;
    }
    .nav-langues {
      display: flex;
      align-items: flex-end;
      gap: 44px;
      .nav-second {
        display: flex;
        align-items: center;
        gap: 34px;
        font-size: 15px;
        a::before {
          display: inline-block;
          transition: 0.5s;
          content: "[";
          opacity: 0;
        }
        a::after {
          display: inline-block;
          transition: 0.5s;
          content: "]";
          opacity: 0;
        }
        a:hover::before {
          opacity: 1;
          transform: translateX(-10px);
        }
        a:hover::after {
          opacity: 1;
          transform: translateX(10px);
        }
      }
      .langues {
        display: flex;
        align-items: center;
        gap: 13px;
        font-size: var(--text-font-size);
        :nth-child(2) {
          font-weight: 800;
        }
      }
    }
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-icons {
      display: flex;
      padding-bottom: 10px;
      justify-content: end;
      align-items: center;
      gap: 76px;
      .nav-main {
        display: flex;
        align-items: center;
        gap: 37px;
        a {
          font-size: 24px;
          font-weight: 500;
        }
      }
      .nav-main a:hover {
        text-decoration-line: underline;
        text-decoration-thickness: 7%;
        text-underline-offset: 11%;
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 11px;
        img {
          transition: 0.5s;
        }
      }
      .icons img:hover {
        transform: scale(130%);
      }
    }
  }
}

p {
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.accueil img,
.section img {
  width: 100%;
}

.accueil {
  display: flex;
  margin: 74px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  .CTA {
    align-self: flex-start;
  }
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 120px;
  .section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
}

.text-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 11px;
  p {
    text-align: justify;
  }
}

.prefere {
  h2 {
    text-align: right;
    padding-left: 300px;
  }
}
.philosophie {
  h2 {
    padding-left: 30px;
  }
  .text-cta {
    padding-left: 34px;
  }
}
.vigneron {
  h2 {
    text-align: right;
    padding-left: 100px;
  }
}
.visites {
  h2 {
    padding-left: 38px;
  }
  .text-cta {
    padding-left: 50px;
  }
}

.footer {
  color: var(--brown);
  .logos {
    display: flex;
    width: 1443px;
    padding: 44px 39px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 22px;
  }
  .newsletter {
    display: flex;
    padding: 76px 346px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 40px;
    font-weight: 700;
    background-color: var(--beige);
    h3 {
      text-transform: uppercase;
    }
    .mail {
      display: flex;
      align-items: center;
      .votre-email {
        display: flex;
        height: 44px;
        width: 330px;
        padding: 13px 0px 14px 10px;
        align-items: center;
        gap: 10px;
        border: 1px solid var(--brown);
        p {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
  .informations {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    background-color: #f8f4e9;
  }
  .content {
    display: flex;
    padding-top: 36px;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    align-self: stretch;
    .adresse,
    .contact,
    .horaire {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 14px;
      p {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .adresse,
    .contact {
      p:hover {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 5%;
        text-underline-offset: 11%;
        text-underline-position: from-font;
      }
    }
    .social-media {
      display: flex;
      padding: 0px 18px;
      align-items: center;
      gap: 13px;
      img:hover {
        transform: scale(130%);
      }
    }
  }
  .copyrights {
    padding: 48px 0px 47px;
    p {
      text-align: center;
      font-size: 14px;
      font-weight: 300;
    }

    .cookies {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 14px;
      align-self: stretch;
      p {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
      }
    }
  }
}

.CTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding: 10px 0px 13px;
  color: var(--brown);
  p {
    font-size: 16px;
    font-weight: 400;
  }
  svg {
    transition: 0.5s;
  }
}
.CTA:hover svg {
  transform-origin: center left;
  transform: scaleX(115%);
}
.CTA.beige {
  background-color: var(--beige);
  padding: 10px 20px 13px 15px;
}
.CTA.beige:hover svg {
  transform-origin: center left;
  transform: scaleX(105%);
}
.CTA.brown {
  color: var(--beige);
  background: var(--brown);
  height: 44px;
  padding: 10px 15px 13px 15px;
  gap: 0px;
}
.CTA.muscadelle {
  position: absolute;
  left: -73px;
  bottom: 16px;
}
.img-wrapper {
  position: relative;
}
