@import "bootstrap/scss/bootstrap-grid";

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.footer,
.footer > [class] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}

:root {
  --beige: #f4ebd4;
  --brown: #786757;
  --white: #ffffff;
  --black: #000;
  --text-font-size: 17px;
}

body {
  font-family: "Urbanist", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 17px;
  background-color: var(--beige);
  padding: 27px 44px 11px 28px;
  .second {
    display: flex;
    padding-bottom: 11px;
    align-items: flex-end;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .domaine {
      font-size: 14px;
      font-weight: 600;
    }
    .nav-langues {
      display: flex;
      align-items: flex-end;
      gap: 44px;
      .nav-second {
        display: flex;
        align-items: center;
        gap: 34px;
        font-size: 15px;
        p::before {
          display: inline-block;
          content: "[";
          opacity: 0;
        }
        p::after {
          display: inline-block;
          content: "]";
          opacity: 0;
        }
        p:hover::before {
          opacity: 1;
          transform: translateX(-10px);
          transition: 0.5s;
        }
        p:hover::after {
          opacity: 1;
          transform: translateX(10px);
          transition: 0.5s;
        }
      }
      .langues {
        display: flex;
        align-items: center;
        gap: 13px;
        font-size: var(--text-font-size);
        :nth-child(2) {
          font-weight: 800;
        }
      }
    }
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-icons {
      display: flex;
      padding-bottom: 10px;
      justify-content: end;
      align-items: center;
      gap: 76px;
      .nav-main {
        display: flex;
        align-items: center;
        gap: 37px;
        font-size: 24px;
        font-weight: 500;
      }
      .nav-main p:hover {
        text-decoration-line: underline;
        text-decoration-thickness: 7%;
        text-underline-offset: 11%;
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 11px;
        font-family: "Font Awesome 6 Free";
        font-size: 21px;
        font-weight: 900;
      }
      .icons p:hover {
        transform: scale(130%);
        transition: 0.5s;
      }
    }
  }
}

h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.CTA.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  color: var(--brown);
  font-size: 16px;
  font-weight: 400;
}

.accueil img,
.section img {
  width: 100%;
}

.accueil {
  display: flex;
  margin: 74px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  .CTA {
    align-self: flex-start;
  }
}
